


h1{
    color: gold;
    font-size: 3rem;
    text-transform: uppercase;
}

.posterDiv{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    padding-top: 30px;
    color: white;
}

.bottomSecDiv{
    background-color: blue;
    border: 10px solid maroon;
    width: 50%;
    padding: 10px;
}

img{
    border: 5px solid gold;
    width: 90%;
}

p{
    text-align: center;
}

.whitetext{
    color: white;
    background-color: red;
    margin: 5px;
    text-align: left;
}

.redtext{
    color: red;
    text-align: left;
}