


h1{
    color: gold;
    font-size: 3rem;
    text-transform: uppercase;
}

.posterDiv{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    padding-top: 30px;
    color: white;
}

.bottomSecDiv{
    background-color: blue;
    border: 10px solid maroon;
    width: 50%;
    padding: 10px;
}

img{
    border: 5px solid gold;
    width: 90%;
}

p{
    text-align: center;
}

.whitetext{
    color: white;
    background-color: red;
    margin: 5px;
    text-align: left;
}

.redtext{
    color: red;
    text-align: left;
}

.red-flag-part{
    background-color: rgb(219, 23, 23);
    top: 25px;
    left: 25px;
    height: 300px;
    width: 400px;
}

.blue-flag-part{
    background-color: rgb(11, 11, 129);
    position:relative;
    top: 25%;
    height: 50%;
    width: 100%
}

.white-flag-part{
    background-color: white;
    position: relative;
    top: 10%;
    left: 35%;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
